#contents_feed {
    width: 100%;
    text-align: center;
}

#contents_feed #wrapper {
    width: 600px;
    margin: auto;
    margin-bottom: 60px;
}

#contents_feed #wrapper #header_feed {
    position: relative;
    height: 50px;
}

#contents_feed #wrapper #header_feed #explorer_icon {
    width: 45px;
    height: 45px;
    position: absolute;
    top: -13px;
    right: 50px;
    background: url(../../img/icon.png);
    background-position: 465px -480px;
}